/* СТИЛЬ ДЛЯ СТАРТОВОЙ СТРАНИЦЫ */

.action{
    background: url("http://localhost/school/images/back.png");
    background-size: cover;
    padding: 30px;
    margin-top: 70px;
    min-height: 600px;
}

.news{
    float: left;
    width: 60%;
    border: 2px solid #242521;
}

.news label{
    margin-left: 10px;
    float: left;
    font-size: 22px;
    color: #ffffff;
}

.news p{
    font-size: 16px;
    color: #ffffff;
}

.ads{
    
}

.ads p{
    font-size: 20px;
    color: #ffffff;
}

.link{
    width: 100%;
    background-color: #54573f;
    color: #ffffff;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.ads{
    float: right;
    width: 35%; 
    border: 2px solid #436ccd; 
    margin-right: 10px;
}

.news_content{
    background: url("http://localhost/school/images/back.png");
    background-size: cover;
    padding: 30px;
    margin-top: 70px;
}

.news_content label{
    margin-left: 10px;
    float: left;
    font-size: 22px;
    color: #ffffff;
}

.news_content form label{
    margin-left: 0px;
    float: inherit;
}

.news_content p{
    font-size: 18px;
    color: #ffffff;
}

.news_content input[type=submit]{
    font-size: 20px;
}



@media screen and (max-width: 480px) {
    .action{
        padding: 15px;
        margin-top: 450px;
        min-height: 480px;
    }
    
    .news{
        float: inherit;
        width: 100%;
        margin-bottom: 40px;
    }
  
    .ads{
        margin: 0 auto;
        float: inherit;
        width: 60%; 
    }
    
    .news_content{
        background: url("http://localhost/school/images/back.png");
        background-size: cover;
        padding: 30px;
        margin-top: 70px;
    }
    
    .news_content label{
        margin-left: 10px;
        float: left;
        font-size: 22px;
        color: #ffffff;
    }
    
    .news_content form label{
        margin-left: 0px;
        float: inherit;
    }
    
    .news_content p{
        font-size: 18px;
        color: #ffffff;
    }
    
    .news_content input[type=submit]{
        font-size: 20px;
    }
}